.not-found-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .not-found-icon {
    font-size: 100px;
    color: #72c02c; /* Green color similar to the one in your screenshot */
  }
  
  h1 {
    font-size: 1.8em;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
  }
  
  p {
    margin-top: 10px;
    color: #666;
  }
  
  .home-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #72c02c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .home-button:hover {
    background-color: #5ca823;
  }
  