.product-grid {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-card {
    position: relative;
    text-align: center;
    border: none;
  }
  
  .product-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    margin: 0;
    transition: transform 0.3s ease;
  }
  
  .product-image-container:hover .product-image {
    transform: scale(1.1); 
  }
  
  .hover-actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    padding: 10px 20px;
  }
  
  .product-card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #8bc34a;
  }

  .product-card:hover .product-name{
    color: #8bc34a;
  }

  .product-card:hover .hover-actions {
    display: flex;
    justify-content: space-around;
    width: 140px;
  }
  
  .action-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: 	#A9A9A9;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
  }
  
  .action-btn:hover {
    color: #8bc34a;
    border-radius: 50%;
  }
  
  .product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left-product-info{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .detail-button{
    color: #8bc34a !important;
    border: 1px solid #8bc34a !important;
    background-color: white !important;
  }

  .detail-button:hover{
    color: white !important;  
    background-color: #8bc34a !important;
    border: none;
  }

  .detail-button:active{
    background-color: #8bc34a !important; 
    border: none !important;
  }

  .product-name {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  .product-prices{
    display: flex;
    gap: 10px;
  }
  
  .old-price {
    color: grey;
    text-decoration: line-through;
    font-size: 0.8rem;
    margin: 0;
  }
  
  .new-price {
    color: #8bc34a;
    font-size: 1.2rem;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0;
  }
  