/* WishlistRow.css */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, 
.table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center; /* Center the content horizontally */
  vertical-align: middle; /* Center the content vertically */
}

.table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.table img {
  display: block;
  max-width: 80px;
  height: auto;
  margin: 0 auto; /* Center the image horizontally */
}

.btn-primary {
  background-color: #8bc34a;
  border: none;
  padding: 10px 15px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #7bae41;
}

.btn-primary:active {
  background-color: #7bae41 !important;
}
